*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f5;
}
body >div{
    margin: auto;
}

/*-------------BUTTON------------*/

.btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.2s ease ;
    min-width: 120px;
}

.btn:hover{
    opacity: 0.8;
}

/*CSS cho btn cạnh nhau*/
.btn + .btn{
    margin-left: 16px;
}

.btn--success{
    background-color: #71be34;
}
.btn--warning{
    background-color: #ffb702;
}
.btn--danger{
    background-color:crimson;
}
.btn--disable{
    opacity: 0.5 !important;
    cursor:no-drop;
}
.btn--size-l{
    padding: 16px 56px;
}
.btn--size-xl{
    padding: 20px 60px;
}
#toast{
    position: fixed;
    top: 32px;
    right: 32px;
}
.toast{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transform: translateX(calc(100% + 32px));
    animation: slideInLeft ease 2s, fadeOut linear 1s 3s forwards;
}

@keyframes slideInLeft {
    from{
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    to{
        opacity: 0;
    }
}
.toast--success{
    border-color: #71be34;
}
.toast--success .toast__icon{
    color: #71be34;
}
.toast--info{
    border-color: aqua;
}
.toast--info .toast__icon{
    color: aqua;
}
.toast--warning{
    border-color:#ffb702 ;
}
.toast--warning .toast__icon{
    color:#ffb702 ;
    
}
.toast--error{
    border-color:crimson ;
}
.toast--error .toast__icon{
    color:crimson ;
}
.toast + .toast{
    margin-top: 16px;
}
.toast__close,
.toast__icon{
    padding: 0 16px;
}

.toast__icon{
    font-size: 24px;
}

.toast__body{
flex-grow: 1;
}

.toast__title{
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg{
    font-size: 14px;
    margin-top: 10px;
    color: #888;
    line-height: 1.5;
}

.toast__close{
    font-size: 20px;
    cursor: pointer;
}



